// JourneyMap configuration file. Modify at your own risk!
// To use in all worlds, place here: journeymap\config\5.7\
// For more information, go to: http://journeymap.info/Options_Manager
{
  "showKeys": "false",
  "playerDisplay": "SmallDots",
  "showPlayerHeading": "true",
  "mobDisplay": "SmallDots",
  "showMobHeading": "true",
  "showMobs": "true",
  "showAnimals": "true",
  "showVillagers": "true",
  "showPets": "true",
  "showPlayers": "true",
  "fontScale": "2",
  "showWaypointLabels": "true",
  "locationFormatVerbose": "true",
  "locationFormat": "xyvz",
  "showWaypoints": "true",
  "showSelf": "true",
  "showGrid": "true",
  "showCaves": "true",
  "showEntityNames": "true",
  "preferredMapType": "day",
  "zoomLevel": "2",
  "configVersion": "5.7.1"
}