#ワイルドカード

*.curseclient
*.log
*.jar
*.lnk
*.zsrc

.mixin.out/
asm/
crafttweaker_dump/
crash-reports/
caches/
docs/
download/
generated/
journeymap/
local/
logs/
mods/
profileImage/
resources/
resourepack/
saves/
screenshots/
shaderpacks/

#特定のフォルダ

config/AppliedEnergistics2/
config/biomesoplenty/biomes/defaults
config/enderio/recipes/examples/
config/enderio/recipes/*.pdf
config/ftbquests/
config/gregtech/terminal/guide/*/zh_cn/
config/tellme/

#特定のファイル

BotaniaVars.dat
minecraftinstance.json
options.txt
optionsof.txt
optionsshaders.txt
patchouli_data.json
usercache.json
usernamecache.json

astralsorcery/gatewayFilter/worldFilter.dat
config/gregtech/terminal/config/RECIPE_CHART.nbt
config/InvTweaks.cfg
config/tinker_ore_dict_melting_cache.dat
config/thaumicjei_itemstack_aspects.json
config/splash.properties

config/jei/itemBlacklist.cfg
config/jei/jei.cfg
config/jei/worldSettings.cfg
config/jei/bookmarks.ini
config/vanillafix/methods-stable_39.csv

scripts.classes.txt
