#ワイルドカード

*.curseclient
*.log
*.jar
*.lnk
*.zsrc

.mixin.out/
asm/
crafttweaker_dump/
crash-reports/
caches/
docs/
download/
generated/
infinity-data/
local/
logs/
mods/
profileImage/
resourepack/
saves/
screenshots/
shaderpacks/

#特定のフォルダ

config/acronym/saved/
config/biomesoplenty/biomes/defaults
config/enderio/recipes/examples/
config/enderio/recipes/*.pdf
config/tellme/
journeymap/data/
journeymap/icon/
journeymap/server/

#特定のファイル

BotaniaVars.dat
hei_bookmarks.ini
minecraftinstance.json
options.txt
optionsof.txt
optionsshaders.txt
patchouli_data.json
usercache.json
usernamecache.json

astralsorcery/gatewayFilter/worldFilter.dat

config/AppliedEnergistics2/items.csv
config/jei/itemBlacklist.cfg
config/jei/jei.cfg
config/jei/worldSettings.cfg
config/jei/bookmarks.ini
config/InvTweaks.cfg
config/tinker_ore_dict_melting_cache.dat
config/thaumicjei_itemstack_aspects.json
config/vanillafix/methods-stable_39.csv

#config/splash.properties

journeymap/journeymap.log
